* {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.voiceToText {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;

  &__header {
    display: none;
    border: 2px red solid;
    border-radius: 0.25rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(88, 88, 195);
  }

  &__voice {
    border: 2px green solid;
    height: 10vh;
    width: 672px;
    border-radius: 0.25rem;
    text-align: center;
  }

  &__speak {
    margin: 0 auto;
    width: 672px;
    height: 2rem;
    border-radius: 0.25rem;
  }
}
